/* line 4, ../scss/utils.scss */
.jm-pa-0 {
  padding: 0rem;
}

/* line 5, ../scss/utils.scss */
.jm-px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

/* line 6, ../scss/utils.scss */
.jm-py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* line 7, ../scss/utils.scss */
.jm-pt-0 {
  padding-top: 0rem;
}

/* line 8, ../scss/utils.scss */
.jm-pr-0 {
  padding-right: 0rem;
}

/* line 9, ../scss/utils.scss */
.jm-pb-0 {
  padding-bottom: 0rem;
}

/* line 10, ../scss/utils.scss */
.jm-pl-0 {
  padding-left: 0rem;
}

/* line 12, ../scss/utils.scss */
.jm-ma-0 {
  margin: 0rem;
}

/* line 13, ../scss/utils.scss */
.jm-mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

/* line 14, ../scss/utils.scss */
.jm-my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* line 15, ../scss/utils.scss */
.jm-mt-0 {
  margin-top: 0rem;
}

/* line 16, ../scss/utils.scss */
.jm-mr-0 {
  margin-right: 0rem;
}

/* line 17, ../scss/utils.scss */
.jm-mb-0 {
  margin-bottom: 0rem;
}

/* line 18, ../scss/utils.scss */
.jm-ml-0 {
  margin-left: 0rem;
}

/* line 4, ../scss/utils.scss */
.jm-pa-1 {
  padding: 1rem;
}

/* line 5, ../scss/utils.scss */
.jm-px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 6, ../scss/utils.scss */
.jm-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* line 7, ../scss/utils.scss */
.jm-pt-1 {
  padding-top: 1rem;
}

/* line 8, ../scss/utils.scss */
.jm-pr-1 {
  padding-right: 1rem;
}

/* line 9, ../scss/utils.scss */
.jm-pb-1 {
  padding-bottom: 1rem;
}

/* line 10, ../scss/utils.scss */
.jm-pl-1 {
  padding-left: 1rem;
}

/* line 12, ../scss/utils.scss */
.jm-ma-1 {
  margin: 1rem;
}

/* line 13, ../scss/utils.scss */
.jm-mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* line 14, ../scss/utils.scss */
.jm-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 15, ../scss/utils.scss */
.jm-mt-1 {
  margin-top: 1rem;
}

/* line 16, ../scss/utils.scss */
.jm-mr-1 {
  margin-right: 1rem;
}

/* line 17, ../scss/utils.scss */
.jm-mb-1 {
  margin-bottom: 1rem;
}

/* line 18, ../scss/utils.scss */
.jm-ml-1 {
  margin-left: 1rem;
}

/* line 4, ../scss/utils.scss */
.jm-pa-2 {
  padding: 2rem;
}

/* line 5, ../scss/utils.scss */
.jm-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 6, ../scss/utils.scss */
.jm-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 7, ../scss/utils.scss */
.jm-pt-2 {
  padding-top: 2rem;
}

/* line 8, ../scss/utils.scss */
.jm-pr-2 {
  padding-right: 2rem;
}

/* line 9, ../scss/utils.scss */
.jm-pb-2 {
  padding-bottom: 2rem;
}

/* line 10, ../scss/utils.scss */
.jm-pl-2 {
  padding-left: 2rem;
}

/* line 12, ../scss/utils.scss */
.jm-ma-2 {
  margin: 2rem;
}

/* line 13, ../scss/utils.scss */
.jm-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* line 14, ../scss/utils.scss */
.jm-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 15, ../scss/utils.scss */
.jm-mt-2 {
  margin-top: 2rem;
}

/* line 16, ../scss/utils.scss */
.jm-mr-2 {
  margin-right: 2rem;
}

/* line 17, ../scss/utils.scss */
.jm-mb-2 {
  margin-bottom: 2rem;
}

/* line 18, ../scss/utils.scss */
.jm-ml-2 {
  margin-left: 2rem;
}

/* line 4, ../scss/utils.scss */
.jm-pa-3 {
  padding: 3rem;
}

/* line 5, ../scss/utils.scss */
.jm-px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* line 6, ../scss/utils.scss */
.jm-py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 7, ../scss/utils.scss */
.jm-pt-3 {
  padding-top: 3rem;
}

/* line 8, ../scss/utils.scss */
.jm-pr-3 {
  padding-right: 3rem;
}

/* line 9, ../scss/utils.scss */
.jm-pb-3 {
  padding-bottom: 3rem;
}

/* line 10, ../scss/utils.scss */
.jm-pl-3 {
  padding-left: 3rem;
}

/* line 12, ../scss/utils.scss */
.jm-ma-3 {
  margin: 3rem;
}

/* line 13, ../scss/utils.scss */
.jm-mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

/* line 14, ../scss/utils.scss */
.jm-my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* line 15, ../scss/utils.scss */
.jm-mt-3 {
  margin-top: 3rem;
}

/* line 16, ../scss/utils.scss */
.jm-mr-3 {
  margin-right: 3rem;
}

/* line 17, ../scss/utils.scss */
.jm-mb-3 {
  margin-bottom: 3rem;
}

/* line 18, ../scss/utils.scss */
.jm-ml-3 {
  margin-left: 3rem;
}

/* line 4, ../scss/utils.scss */
.jm-pa-4 {
  padding: 4rem;
}

/* line 5, ../scss/utils.scss */
.jm-px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* line 6, ../scss/utils.scss */
.jm-py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* line 7, ../scss/utils.scss */
.jm-pt-4 {
  padding-top: 4rem;
}

/* line 8, ../scss/utils.scss */
.jm-pr-4 {
  padding-right: 4rem;
}

/* line 9, ../scss/utils.scss */
.jm-pb-4 {
  padding-bottom: 4rem;
}

/* line 10, ../scss/utils.scss */
.jm-pl-4 {
  padding-left: 4rem;
}

/* line 12, ../scss/utils.scss */
.jm-ma-4 {
  margin: 4rem;
}

/* line 13, ../scss/utils.scss */
.jm-mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* line 14, ../scss/utils.scss */
.jm-my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* line 15, ../scss/utils.scss */
.jm-mt-4 {
  margin-top: 4rem;
}

/* line 16, ../scss/utils.scss */
.jm-mr-4 {
  margin-right: 4rem;
}

/* line 17, ../scss/utils.scss */
.jm-mb-4 {
  margin-bottom: 4rem;
}

/* line 18, ../scss/utils.scss */
.jm-ml-4 {
  margin-left: 4rem;
}

/* line 21, ../scss/utils.scss */
.jm-text-left {
  text-align: left;
}

/* line 22, ../scss/utils.scss */
.jm-text-right {
  text-align: right;
}

/* line 23, ../scss/utils.scss */
.jm-text-center {
  text-align: center;
}

/* line 24, ../scss/utils.scss */
.jm-text-justify {
  text-align: justify;
}

/* line 3, ../scss/buttons.scss */
.jm-btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
}
/* line 10, ../scss/buttons.scss */
.jm-btn-block {
  width: 100%;
}
/* line 14, ../scss/buttons.scss */
.jm-btn-primary {
  background-color: blue;
  border-color: midnightblue;
}
/* line 18, ../scss/buttons.scss */
.jm-btn-primary:hover {
  background-color: lightblue;
  border-color: blue;
}
/* line 24, ../scss/buttons.scss */
.jm-btn-secondary {
  background-color: orange;
  border-color: darkorange;
}
/* line 28, ../scss/buttons.scss */
.jm-btn-secondary:hover {
  background-color: sandybrown;
  border-color: orange;
}

/* line 8, ../scss/all.scss */
html {
  font-size: 8px;
}

/* line 12, ../scss/all.scss */
body {
  font-size: 2rem;
}
