/* line 3, ../scss/buttons.scss */
.jm-btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
}
/* line 10, ../scss/buttons.scss */
.jm-btn-block {
  width: 100%;
}
/* line 14, ../scss/buttons.scss */
.jm-btn-primary {
  background-color: blue;
  border-color: midnightblue;
}
/* line 18, ../scss/buttons.scss */
.jm-btn-primary:hover {
  background-color: lightblue;
  border-color: blue;
}
/* line 24, ../scss/buttons.scss */
.jm-btn-secondary {
  background-color: orange;
  border-color: darkorange;
}
/* line 28, ../scss/buttons.scss */
.jm-btn-secondary:hover {
  background-color: sandybrown;
  border-color: orange;
}
