$prefix-component: 'jm-';

$font-base: 8px;

$primary-light: lightblue;
$primary: blue;
$primary-dark: midnightblue;

$secondary-light: sandybrown;
$secondary: orange;
$secondary-dark: darkorange;

$success-light: greenyellow;
$success: green;
$success-dark: darkgreen;

$warning-light: yellow;
$warning: golden;
$warning-dark: goldenrod;

$danger-light: tomato;
$danger: red;
$danger-dark: darkred;

$button-border-width: 1px;
$button-border-radius: 4px;