$prefix-component: 'jm-';

$font-base: 8px;

$primary-light: lightblue;
$primary: blue;
$primary-dark: midnightblue;

$secondary-light: sandybrown;
$secondary: orange;
$secondary-dark: darkorange;

$success-light: greenyellow;
$success: green;
$success-dark: darkgreen;

$warning-light: yellow;
$warning: gold;
$warning-dark: goldenrod;

$danger-light: tomato;
$danger: red;
$danger-dark: darkred;

$info-light: #06DCEE;
$info: #05A6B3;
$info-dark: #04575E;

$button-border-width: 1px;
$button-border-radius: 4px;

$gutter-grid: 16px;

$colors: (
    'primary': $primary, 
    'secondary': $secondary, 
    'success': $success, 
    'warning': $warning, 
    'danger': $danger,
    'info': $info
);