@import './variables';
@import './mixins';

@import './utils';
@import './grid';
@import './buttons';
@import './images';
@import './alert';
@import './pagination';
@import './breadcrumb';

* {
  padding:0;
  margin:0;
}

html {
  font-size: $font-base;
  font-family:sans-serif;
}

body {
  font-size: 2rem; // 16px
}