@import './variables';
@import './mixins';

@for $i from 0 through 4 {
  .#{$prefix-component}pa-#{$i} { padding:$i * 1rem !important; }
  .#{$prefix-component}px-#{$i} { padding-left:$i * 1rem !important; padding-right:$i * 1rem !important; }
  .#{$prefix-component}py-#{$i} { padding-top:$i * 1rem !important; padding-bottom:$i * 1rem !important; }
  .#{$prefix-component}pt-#{$i} { padding-top:$i * 1rem !important; }
  .#{$prefix-component}pr-#{$i} { padding-right:$i * 1rem !important; }
  .#{$prefix-component}pb-#{$i} { padding-bottom:$i * 1rem !important; }
  .#{$prefix-component}pl-#{$i} { padding-left:$i * 1rem !important; }

  .#{$prefix-component}ma-#{$i} { margin:$i * 1rem !important; }
  .#{$prefix-component}mx-#{$i} { margin-left:$i * 1rem !important; margin-right:$i * 1rem !important; }
  .#{$prefix-component}my-#{$i} { margin-top:$i * 1rem !important; margin-bottom:$i * 1rem !important; }
  .#{$prefix-component}mt-#{$i} { margin-top:$i * 1rem !important; }
  .#{$prefix-component}mr-#{$i} { margin-right:$i * 1rem !important; }
  .#{$prefix-component}mb-#{$i} { margin-bottom:$i * 1rem !important; }
  .#{$prefix-component}ml-#{$i} { margin-left:$i * 1rem !important; }
}

.#{$prefix-component}text-left    { text-align: left !important; }
.#{$prefix-component}text-right   { text-align: right !important; }
.#{$prefix-component}text-center  { text-align: center !important; }
.#{$prefix-component}text-justify { text-align: justify !important; }

.#{$prefix-component}d-block      { display: block !important; }
.#{$prefix-component}d-inline     { display: inline !important; }
.#{$prefix-component}d-inblock    { display: inline-block !important; }
.#{$prefix-component}d-flex       { display: flex !important; }
.#{$prefix-component}d-table      { display: table !important; }
.#{$prefix-component}d-table-cell { display: table-cell !important; }
.#{$prefix-component}d-table-row  { display: table-row !important; }

.#{$prefix-component}clearfix { @include clearfix(); }

.#{$prefix-component}float-left   { float: left !important; }
.#{$prefix-component}float-right  { float: right !important; }
.#{$prefix-component}float-none   { float: none !important; }

.#{$prefix-component}vertical-top      { vertical-align: top !important; }
.#{$prefix-component}vertical-bottom   { vertical-align: bottom !important; }
.#{$prefix-component}vertical-middle   { vertical-align: middle !important; }

.#{$prefix-component}visible    { visibility: hidden !important; }
.#{$prefix-component}invisible  { visibility: visible !important; }

.#{$prefix-component}text-bold          { font-weight: bold !important; }
.#{$prefix-component}text-italic        { font-style: italic !important; }
.#{$prefix-component}text-underline     { text-decoration: underline !important; }
.#{$prefix-component}text-line-through  { text-decoration: line-through !important; }

.#{$prefix-component}justify-content-center    { justify-content: center !important; }
.#{$prefix-component}justify-content-start     { justify-content: flex-start !important; }
.#{$prefix-component}justify-content-end       { justify-content: flex-end !important; }
.#{$prefix-component}justify-content-between   { justify-content: space-between !important; }
.#{$prefix-component}justify-content-around    { justify-content: space-around !important; }
.#{$prefix-component}justify-content-evenly    { justify-content: space-evenly !important; }

.#{$prefix-component}list-unstyle { list-style-type: none !important; }
@each $color, $value in $colors {
  .#{$prefix-component}bg-#{$color} { background-color: #{$value} !important; }
  .#{$prefix-component}text-#{$color} { color: #{$value} !important; }
}